:host {
  display: block;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #f8f9fa;
  .row {
    margin: 0;
  }
  .col-md {
    margin-bottom: 0.5rem;
  }
  h5 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }
  ul {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
  }
  li {
    margin-bottom: 0.25rem;
  }
  a {
    font-size: 0.875rem;
  }
  small {
    font-size: 0.75rem;
  }
}
